<div class="container">
	<div class="jumbotron">
		<h1>Now</h1>
		<p>Awsome SNS and Taking classes System. </p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>