<div class="container">
	<div class="jumbotron">
		<h1>Twintter</h1>
		<p>Awsome SNS and Taking classes System. </p>
    <p><a class="btn btn-primary btn-lg" href="/search/index" role="button"><i class="fa fa-search"></i> Search</a>
    <a class="btn btn-primary btn-lg" href="/now/index" role="button"><i class="fa fa-twitter"></i> Now</a></p>
	</div>
</div>
