<nav class="navbar navbar-default navbar-fixed-top">

<a class="navbar-brand" href="/">Twintter <i class="fa fa-calendar"></i></a>
<div class="container">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', :controller => 'home', :action => 'index' %></li>
    <li><%= link_to 'Course', :controller => 'home', :action => 'index' %></li>
    <li><%= link_to 'SNS', :controller => 'home', :action => 'index' %></li>
  </ul>
</div>
</nav>
